<p>Hola <%= @profile.full_name %>,</p>
<p>Gracias por registrarte. Por favor, haz clic en el enlace a continuación para verificar tu correo electrónico:</p>
<p><a href="<%= @verification_link %>">Verificar Correo</a></p>
<p>Si no realizaste este registro, puedes ignorar este correo.</p>
